<% include partials/header %>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align:center">About me</h1>
            <p>Alejandro Fischer</p>
            <p>B.S. Computer Science</p>
            <p>University of Michigan - College of Engineering</p>
        </div>
    </div>
    <% include partials/footer %>
</body>

